<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login-register.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/alert.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap" rel="stylesheet">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/list-check-solid.svg')}}">
</head>
<body>
    <!-- Navbar  -->
    {% include "./components/navbar.html" %}
    
    <!-- Login  -->
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert-container">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div class="form__container">
            <h1>Login</h1>
            <form method="POST">
                <label for="email">E-Mail</label><br>
                <input id="email" name="email" required><br>
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password" required><br><br>
                <button type="submit">Login</button>
            </form>
            <a href="{{ url_for('register') }}">Don't have an account? Register</a>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/a9b71fbf52.js" crossorigin="anonymous"></script>
</body>
</html>
